<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find mybot_description)/urdf/first_robot_base.xacro"/>
  <xacro:include filename="$(find mybot_description)/urdf/first_robot_arm.xacro"/>
  <xacro:include filename="$(find mybot_description)/urdf/first_robot_gripper.xacro"/> -->

    <xacro:macro name="base_xacro" params="length radius">
        <!--机器人底盘-->
        <link name="base_link">
            <inertial>
                <mass value="2.0"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.0117" ixy="0.0" ixz="0.0" iyy="0.0117" iyz="0.0" izz="0.01"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <material name="blue">
                    <color rgba="0 0 0 0.5"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </collision>
        </link>

        <link name="base_footprint_link">
        </link>

        <!--底盘与足迹链接-->
        <joint name="base_to_footprint" type="fixed">
            <parent link="base_footprint_link"/>
            <child link="base_link"/>
            <origin xyz="0 0 ${length/2+0.031}" rpy="0 0 0"/>
        </joint>


    </xacro:macro>

</robot>