<?xml version="1.0"?>
<robot name="fishbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include base macro -->
  <xacro:include filename="$(find mybot_description)/urdf/fishbot/base.urdf.xacro"/>

  <!-- Include modular sensor components from sensor folder -->
  <xacro:include filename="$(find mybot_description)/urdf/fishbot/sensor/camera.urdf.xacro"/>
  <xacro:include filename="$(find mybot_description)/urdf/fishbot/sensor/imu.urdf.xacro"/>
  <xacro:include filename="$(find mybot_description)/urdf/fishbot/sensor/laser.urdf.xacro"/>

  <!-- Instantiate base: cylinder length=0.12, radius=0.1 -->
  <xacro:base_xacro length="0.12" radius="0.1"/>

  <!-- Instantiate sensors with provided parameters -->
  <xacro:imu_xacro joint_xyz="0 0 0.02"/>
  <xacro:camera_xacro joint_xyz="0.1 0 0.075"/>
  <xacro:laser_xacro joint_xyz="0 0 0.12"/>

</robot>
